ENVIRONMENT=development
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=glointpruebas_db

# ==========================================
# YOINT PAYMENTS API (Dispersiones de Retiros)
# ==========================================
YOINT_API_URL=https://dev-transaccional-payments.yoint.co
YOINT_API_KEY=
YOINT_CLIENT_ID=
YOINT_CLIENT_SECRET=
YOINT_WEBHOOK_SECRET=
